name: Failure Jobs
on: [push]
env:
  fail: true
jobs:
  check-is-there-any-failure:
    name: Check the Job
    runs-on: ubuntu-latest
    steps:
      - run: echo $fail

  fail-it:
    name: Fail the job!
    runs-on: ubuntu-latest
    steps:
      - name: Fail it!
        uses: actions/github-script@v3
        with:
          script: |
            core.setFailed("Fail!!!")
